body {
    background-color: pink;
    font-family: Nunito;
    text-transform: uppercase;
}

.navbar-brand {
    color: hotpink;
    font-size: 26px;
}

.navbar {
    font-size: 26px;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: fuchsia;
}


h1 span {
    color: red;
}

#heading2Group {
    color: red;
}

#heading2Group p {
    color: lightpink;
}