<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body>
        <h1>Home Page <%= 4 + 5+ 1 %>
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus odio fugiat aliquid aperiam consequuntur
            repellendus dignissimos magnam illum illo voluptatem laborum, sint, assumenda nesciunt et, nam sit corrupti
            nihil unde.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur molestias numquam eos nobis delectus
            adipisci tempora reiciendis accusamus facere facilis sequi, ducimus recusandae dolorum dolores laudantium,
            at, sed consectetur atque.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dignissimos, voluptate hic autem aliquam nobis
            ex unde quidem dicta accusantium necessitatibus aperiam assumenda excepturi minus consequuntur laboriosam
            fuga tenetur laudantium.</p>
    </body>

</html>